*{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
}
body{
  background-image: url(images/wallpaper/Cool-Gaming-Backgrounds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#div-ki-ol{
  list-style-type: none;
  display: flex;
 background-color: black;
  justify-content: center;

}
.li-1{

  border: 1px solid rgb(70, 70, 70);
}
.li-1:nth-child(1){
  
}
.li-ki-img1{
  width: 25px;
  height: 25px;
  float: right;
}
#ol-span1{
  display: flex;
  color: rgb(107, 107, 107);
  font-weight: bolder;
}
#ol-span2{
  display: flex;
    float: right;
    position: relative;
    left: 430px;
    background-color: rgb(107, 107, 107);
}
nav{
  display: flex;
  background-color: #1a1aa5;
  padding: 10px;
}
#nav-ki-ol2{
  display: flex;
  list-style-type: none;
font-weight: bolder;
}
.nav-kiclass1{
  flex-grow: 1;
  margin-top: 20px;
}
.nav-ki-li1{
  flex-grow: 1;
  align-items: center;
}
#nav-ki-ol1{
  margin-left: 50px;
  list-style-type: none;
}
.nav-ki-li1:nth-child(1){
  color: rgb(255, 217, 0);
font-weight: bolder;
}
#yoyo{
  color: gold;
}
h1{
  margin-top: -17px;
    font-weight: 900;
}
#parent{
  list-style-type: none;
    background-color: #000b89;
display: none;
position: absolute;

} 
#papo:hover #parent{
  display: block;
}
.child{
  height: 40px;
}
a{
  color: white;
}
.a:nth-child(1){
  color: goldenrod;
}
#main-ki-div1{
     background-color: rgba(0, 0, 0, 0.712);
    height: 425px;
    width: 315px;
   
    margin-left: 90px;
    margin-top: 89px;
}
#main-ki-h1{
  color: white;
  margin-left: 20px;
}
#main-ki-p1{
  color: gray;
  margin-left: 10px;
}
#main-ki-p2{
color: gray;
margin-left: 10px;
}
#footer-div1{
  margin-top: 50px;
  background-color: rgb(14, 12, 12);
  height: 97px;
}
#footer-h1{
  color: white;
  margin-left: 50px;
}
#footer-ol1{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
 height: 40px;
 padding-top: 10px;
  background-color: black;
}
.footer-li{
  color: white;
  justify-content: space-around;

}